<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs442.hpatil2.orderfood_foodiebro">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".homePage.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".productPage.ItemDetailsActivity" />
        <activity
            android:name=".calculateTotal.CalculateTotalActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity android:name=".checkout.CheckoutActivity" />
        <activity android:name=".orderHistory.OrderHistoryActivity"></activity>
    </application>

</manifest>